<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
		<title>News Article App</title>
	</head>

	<body>
